<div class="outer">
  <h1
    class="mb-4 text-6xl font-extrabold leading-none tracking-tight text-gray-900 md:text-6xl lg:text-7xl dark:text-white"
  >
    About
  </h1>

  <div class="imageCollage">
    <img src="../../assets/images/people.jpg" alt="people hanging out" />
    <img src="../../assets/images/women.jpg" alt="people hanging out" />
    <img src="../../assets/images/students.jpg" alt="people hanging out" />
    <img src="../../assets/images/startup.jpg" alt="people hanging out" />
    <div class="text">
      <p
        class="mb-3 font-light text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left"
      >
        Track work across the enterprise through an open, collaborative
        platform. Link issues across Jira and ingest data from other software
        development tools, so your IT support and operations teams have richer
        contextual information to rapidly respond to requests, incidents, and
        changes.
      </p>
      <p class="font-light text-gray-500 dark:text-gray-400">
        Deliver great service experiences fast - without the complexity of
        traditional ITSM solutions.Accelerate critical development work,
        eliminate toil, and deploy changes with ease, with a complete audit
        trail for every change.
      </p>
    </div>
  </div>
</div>
